*{
    /* padding: 0;
    margin: 0; */
    background-color: wheat;
}
.main {
/* min-width: 100%; */
max-width: 800px;
    width: 100%;
    /* justify-content: center; */
    /* background-color: wheat; */
    /* height: 100%; */
    margin: 0 auto;

}

.h2 {
    text-align: center;
    font-family: sans-serif;
    color: black;
    /* width: 100%;
    margin: 0 auto; */
    
}
ul{
    padding: 0;
    margin: 0;
}

.second {
    min-width: 80%;
    /* background-color:whitesmoke; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
   
    /* width: 800px; */
   
    gap: 5px;
   
    margin: auto;
    padding: 10px;

    place-items: center;
    


}
ul{
    /* padding: 0;
    margin: 0; */
}
li{
    list-style: none;
}

img{
    
    margin: 0;
    width: 150px;
    height: 150px;
    object-fit: cover;
    padding: 0;
}

 @media (max-width : 800px) {
    
    .second {
        /* max-width: 100%; */
        width: 80%;
        /* background-color: red; */
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        /* width: 80%; */
        /* width: 600px; */
        min-width: 500px;
        margin: 0 auto;
    }
    img{
        width: 100px;
        height: 100px;
    }
    .main {
        width: 100%;
        max-width: 800px;
        /* justify-content: center; */
        /* height: 100%; */
        /* margin: 0 auto; */
        /* width: 100%; */
        /* min-width: 100%; */
    }
    ul{
        padding: 0;
        margin: 0;
    };
} 


    @media (max-width : 525px) {
        .second {
            width: 50%;
            /* background-color: green; */
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            min-width: 325px;
            margin: 0 auto;
        }
        img{
            width: 80px;
            height: 80px;
        }
        .main {
            width: 100%;
            max-width: 480px;
        }
        ul{
            padding: 0;
            margin: 0;
        };
    } 
   


@media(max-width : 342px) {
    .main {
        width: 100%;
        max-width: 342px;
        margin-top: 0;
    }
    .second {
        /* width: 80%; */
        /* background-color: yellow; */
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        min-width: 270px;
        margin: 0 auto;
    }
    img{
        width: 40px;
        height: 40px;
    }
    
    ul{
        padding: 0;
        margin: 0;
    };
}